<div class ="container">
	<footer class="footer">
	<small>
	<!-- Udemy Course I took to learn this -->
<!-- 	copyright &copy; <a href="https://www.udemy.com">The Complete Ruby on Rails Developer</a>
	by <a href="http://www.mashrurhossain.com/">Mashrur Hossain</a> -->
	copyright &copy; <a href="#">Jarred Smith</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
		</ul>
	</nav>
	</footer>
</div>
